body{
    //background-color: rgb(14, 13, 13);
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    font-family:"Josefin Sans", sans-serif;
    padding:0;
    margin:0;
//user-select: none;
    transition:0.3s;
}
.button1{
    margin:30px auto;
    width:80%;
    //background:none;
    //border:2px solid rgb(190, 202, 230);
    border:none;
    box-shadow: 0 0 5px #4d2ea1;
    border-radius:10px;
    outline:none;
    display:block;
    padding:20px;
    background-color:rgba(255,255,255,0.1);
    font-family:"Josefin Sans", sans-serif;
    font-size:2em;
    color: rgb(216, 223, 234);
    backdrop-filter: blur(20px);
    transition:0.5s;
}
.button1:active{
    transform:scale(1.1);
}
h1, h2, h3{
    color: rgb(216, 223, 234);
    text-align: center;
}

#players, #queue-players{
    margin:0 20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    backdrop-filter: blur(2px);
    background-color: rgba(255,255,255,0.1);
    border-radius:3px;
}
.player-frame{
    width:fit-content;
    margin:5px;
    border-radius:15px;
}
.player-frame h2, .player-frame img{
    vertical-align: middle;
    display:inline-block;
    margin:0 5px;
    padding:0;
}

*{
    animation: slide 0.5s;
}
.noslide{
    animation:none;
}

@keyframes slide{
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
.margin-auto{
    margin:auto;
}
input, textarea, button {font-family: inherit}
.button-none{
    background:none;
    border:none;
    margin:auto;
    display:block;
    padding:0;
    outline:none;
}
input[type=text], input[type=number]{
    outline:none;
    border:none;
    border-bottom:2px solid rgba(230, 230, 230, 0.71);
    color: rgb(221, 221, 237);
    background:none;
    display:block;
    margin:20px auto;
    font-size:1.5em;
    width:80%;
    text-align:center;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.9);
    font-style:italic;
}
a{
    text-decoration:none;
}
.none{
    display:none
}
#results{
    margin:auto;
    display:block;
    padding:20px;
}
#results > div{
    margin:10px auto;
    display:block;
    //border:2px solid rgb(77, 149, 22);
    border-radius:15px;
    text-align:center;
}
label.RADIO{
    display:block;
    width:80%;
    text-align:center;
    margin:10px auto;
    padding-top:5px;
    //border:2px solid rgb(77, 149, 22);
    background-color:rgba(255,255,255,0.1);
    color:rgb(221, 221, 237);
    border-radius:15px;
    font-family:"Josefin Sans", sans-serif;
    font-size:2em;
    transition:0.3s;
}
#title{
    font-size:1.5em;
}
#question{
    margin:auto;
    width:90%;
    font-size:1.3em;
}
input:checked + label.RADIO{
    background-color:rgba(255,255,255,0.3);
    transform: scale(1.1);
    backdrop-filter: blur(20px);
    animation: pulse 1s;
}

@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgb(133, 73, 198);
    }
    100%{
        box-shadow: 0 0 0 15px rgba(104, 45, 205, 0);
    }
}
footer{
    backdrop-filter: blur(3px);
    display:block;
    text-align:center;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    margin:20px 0 0 0;
    font-size:1.2em;
    color: rgb(216, 223, 234);
}
footer p{
    margin:5px 0;
}
.center {
    width:100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#loader{
    display:block;
    margin:auto;
    animation: loader 3s infinite;
    transform-origin: bottom;
}
@keyframes loader{
    0%{
        transform: translateX(-200px) rotate(0deg);
        opacity:0;
        scale: 0.7;
    }
    25%{
        transform: translateX(0) rotate(10deg);
        opacity:1;
        scale:1.1;
    }
    50%{
        transform: translateX(0) rotate(0deg);
        opacity:1;
        scale:1;
    }
    75%{
        transform: translateX(0) rotate(-10deg);
        opacity:1;
        scale:1.1;
    }
    100%{
        transform: translateX(200px);
        opacity:0;
        scale: 0.7;
    }
}
#loader-title{
    animation:fader 5s infinite;
}
@keyframes fader{
    0%{
        opacity:1;
    }
    50%{
        opacity: 0.7;
    }
    100%{
        opacity:1;
    }
}

/*#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:fit-content;
    min-height:80vh;
    overflow-y: auto;
}*/

#timer-frame{
    display:none;
    width:90%;
    margin:auto;
    background-color: rgba(71, 70, 112, 0.61);
    height:6px;
    border-radius:5px;
    padding:4px;
}
#timer-bar{
    display:block;
    margin:0;
    height:6px;
    border-radius:3px;
    width:0;
    background-color: #c08adc;
    transition:1s;
}
#header-table{
    width:100%;
}
#leave-room{
    display:block;
}
#back-img1{
    opacity:0.3;
    position:absolute;
    z-index:-10;
    filter: blur(2px);
    right:20px;
    bottom:30px;
}
#back-img2{
    opacity:0.3;
    position:absolute;
    z-index:-10;
    filter: blur(2px);
    left:20px;
    top:30px;
    transform: rotate(40deg);
}

.inline{
    display:inline;
}
#packs-frame{
    display:block;
    margin:auto;
    width:80%;
}

label{
    color: rgb(216, 223, 234);
}

label[for="settings-time"], label[for="settings-time"] h2, label[for="settings-count"], label[for="settings-count"] h2{
    margin:0;
    padding:0;
}
#settings-time-frame, #settings-count-frame{
    display:block;
    margin:auto;
    width:fit-content;
}
#settings-frame{
    display:block;
    margin:10px 0;
}
select{
    background:none;
    outline:none;
    font-family:inherit;
    border:none;
    color:white;
    font-size:1.5em;
}

option{
    color:black;
    background:rgba(255,255,255,0.4);
}
#packs-flex{
    display:flex;
    justify-content: center;
    margin:auto;
}

label.pack{
    font-size:1.5em;
    text-align:center;
    margin:5px 15px 5px 15px;
    display:inline-block;
    //transform-origin: bottom;
    transition: 0.5s;
    border-radius:3px;
    opacity:0.7;

}
input:checked + label.pack{
    transform: scale(1.2) rotate(5deg);
    opacity:1;
}
input:checked + label[for="easy"]{
    text-shadow: 0 0 3px #37bc05;
}
input:checked + label[for="mid"]{
    text-shadow: 0 0 3px #e6f805;
}
input:checked + label[for="hard"]{
    text-shadow: 0 0 3px #d60e06;
}
input[type="checkbox"]{
    display:none;
}
#packs-flex span{
    padding:5px;
    margin:0 5px;
    border-bottom:2px solid white;
    border-radius:3px;
    box-shadow:0 0 4px black;
}
.player-drinks{
    display:block;
    margin:auto;
}

.tuto-card{
    display:block;
    margin:auto;
    width:80vw;

    height:fit-content;
    //min-height:60vh;

    //border:2px solid black;
    border-radius:15px;
    background-color:rgba(0, 0,0, 0.5);
    box-shadow: 0 0 10px black;


    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.flip{
    transform: scaleX(-1);
}
.round-img{
    border-radius: 50%;
    margin:4px;
    box-shadow: 0 0 3px white;
}
.tuto-card table{
    margin:auto;
}
.tuto-card p, .tuto-card li{
    color:white;
    font-size:1.3em;
    margin:0 10px 10px 10px;
}
.fakebutton1{
    margin:30px auto;
    width:fit-content;
    box-shadow: 0 0 2px #4d2ea1;
    border-radius:5px;
    outline:none;
    background-color:rgba(255,255,255,0.2);
    font-family:"Josefin Sans", sans-serif;
    padding:0.1em;
    font-size:1em;
    color: rgb(216, 223, 234);
    //backdrop-filter: blur(20px);
    transition:0.5s;
}
.hide{
    display:none;
}
.menu-card{
    display:block;
    margin:auto;
    width:90vw;
    max-width:500px;

    height:fit-content;
    padding:2px;

    border-radius:5px;
    background-color: rgba(154, 76, 2510,0.7);
    box-shadow: 0 0 5px black;
}
.button2{
    background-color:rgba(0,0,0,0.1);
    margin: 10px auto;
    width:80%;
    border:none;
    box-shadow: 0 0 5px #372663;
    border-radius:3px;
    outline:none;
    display:block;
    padding:5px;
    font-family:"Josefin Sans", sans-serif;
    font-size:1.8em;
    color: rgb(216, 223, 234);
    backdrop-filter: blur(20px);
    transition:0.2s;
    transform-origin:bottom;
}
.button2:active{
    transform:scale(1.1);
}

.button3{
    margin: 10px auto;
    width:fit-content;
    border:none;
    border-bottom:2px solid white;
    outline:none;
    display:block;
    background:none;
    font-family:"Josefin Sans", sans-serif;
    font-size:1.5em;
    color: rgb(216, 223, 234);
    transition:0.5s;
}
.button3:active{
    transform:scale(1.1);
}

#menu-flex{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    height:80vh;
    align-content: center;
    max-width:500px;
    margin:auto;
}
#width-wrapper{
    max-width:400px;
    margin:auto;
}
iframe{
    margin:0 auto;
    display:block;
}